#leTrucQuiSimuleUnCommit {
    background-color: aqua;
}

#nom {
    font-weight: 900;
}

.filles{
    background-color: bisque;
    font-size: larger;
    font-family: Verdana;
    color:brown;
}

body{
    background-color: rgb(59, 56, 56);
    margin: 40px;
}

h1 {
    color: aqua;
}
